/* Homepage styles */
.App {
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
.content {
  flex: 2 1 auto;
}

.section {
  padding: 2.5rem 0;
}

.search-box {
  margin: 1rem 0;
}

.posts {
  margin: 2rem auto;
}

.card {
  margin: .25rem;
  height: 100%;
}

.post-form {
  margin-top: 1rem;
}

.content figure {
  margin-left: 0;
  margin-right: 0;
}

.post-column {
  position: relative;
}

.mobile-card {
  position: relative;
}
.delete-button {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid red;
  border-radius: 50%;
  background: red;
  font-weight: bold;
  color: white;
  outline: none;
  cursor: pointer;

  transition: all .25s;
}
.delete-button:hover {
  color: red;
  background: white;
  border-color: red;
}

.votes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.post-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-hero-body {
  margin-left: auto;
  margin-right: auto;
}

.post-image {
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  align-self: center;
}

.create-sub-form {
  margin: 0 auto;
  width: 40vw;
  padding: 2.5rem 5rem;
  border: 2px solid black;
  border-radius: 5px;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .buttons {
    flex-wrap: nowrap;
  }

  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .post-image {
    width: 80vw;
  }
}